<template name="onlyIfLoggedIn">
  {{#if authInProcess}}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h5>Loading...</h5>
          </div>
      </div>
  </div> <!-- /container -->
  {{else}}
    {{#if canShow}}
      {{> UI.contentBlock }}
    {{else}}
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                            <h4>Жүйеге <a href="/signin">кіру</a>.</h4>
                    </div>
                </div>
                <!--end of row-->
            </div>
    {{/if}}
  {{/if}}
</template>
