<template name="bts100Results">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">БТС-{{btsNo}} TOП-100 Оқушы</h4>
            <div class="form-inline" style="padding-bottom: 10pt">
                <div class="form-group" style="margin-right: 10pt">
                    {{> academicYear}}
                    <label for="" style="margin-left: 10pt;">Сынып</label>
                    <select class="form-control"  id="grade">
                        <option value="7">7 cынып</option>
                        <option value="8">8 cынып</option>
                        <option value="9">9 cынып</option>
                        <option value="10">10 cынып</option>
                    </select>
                  </div>

                  <div class="form-group" style="float: right">
                      <a class="btn btn-success" id="export">Export</a>
                  </div>

            </div>
            {{#if Template.subscriptionsReady}}
            <div class="table table-responsive" id="out">
              <table class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0 width=100%>

                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Оқушы ID</th>
                        <th>Сынып</th>
                        <th>Аты</th>
                        <th>Жөні</th>
                        <th>Мектеп</th>
                        <th>Жалпы</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    {{#if math @index "<" 100}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{studentId}}</td>
                        <td>{{grade}}{{division}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{schoolName schoolId}}</td>
                        <td>{{total}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
