<template name="bts10Results">
    <div class="row">
        <div class="col-md-12">
            <h4>БТС-{{btsNo}} TOП-10 Оқушы</h4>
            <div class="row">
                    {{> academicYear}}                 
                    <label for="">Сынып</label>
                    <select class="grade">
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
            </div>
            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Оқушы ID</th>
                        <th>Сынып</th>
                        <th>Аты</th>
                        <th>Жөні</th>
                        <th>Мектеп</th>
                        <th>Жалпы</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    {{#if math @index "<" 10}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{studentId}}</td>
                        <td>{{grade}}{{division}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{schoolName schoolId}}</td>
                        <td>{{total}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
