<template name="btsRatingByCategory">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">БТС-{{btsNo}} Рейтинг по категорий</h4>
            <div class="form-inline" style="padding-bottom: 10pt">
                <div class="form-group" style="margin-right: 10pt">
                    {{> academicYear}}
                    <label for="" style="margin-left: 10pt;">Сынып</label>
                    <select class="form-control" name='grade' id='select'>
                        <option value="all">Жалпы</option>
                        <option value="7">7 cынып</option>
                        <option value="8">8 cынып</option>
                        <option value="9">9 cынып</option>
                        <option value="10">10 cынып</option>
                    </select>
                </div>

                <div class="form-group" style="float: right">
                    <a class="btn btn-success" id="export">Export</a>
                </div>

            </div>
            {{#if Template.subscriptionsReady}}
            <div class="table table-responsive" id="out">
              <table class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0 width=100%>

                <thead>
                    <tr class="bts-header center">
                        <th class="absolute-style" style="width: 20pt;  text-align: center;">#</th>
                        <th class="absolute-style" style="width: 55pt;  margin-left: 20pt; ">Мектеп ID</th>
                        <th class="absolute-style" style="width: 380pt; margin-left: 70pt; ">Мектеп аты</th>
                        <th style="white-space: nowrap; padding-left: 470pt;"  id="sortTotal">Жалпы</th>

                        <th style="white-space: nowrap; text-align:right" id="sortMath">Математика</th>
                        <th style="white-space: nowrap;" id="sortKazakh">Қазақ тілі</th>

                        {{#if grade7}}

                          {{#if btsNo1_or_2 }}
                            <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                          {{else}}
                            <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                            <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                            <th style="white-space: nowrap;" id="sortBio">Биология</th>
                          {{/if}}

                        {{else}}

                          {{#if grade8_or_9}}

                            <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                            <th style="white-space: nowrap;" id="sortWHistory">Қазақcтан тарихы</th>
                            <th style="white-space: nowrap;" id="sortGeography">География</th>
                            <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                            <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                            <th style="white-space: nowrap;" id="sortBio">Биология</th>

                            {{else}}

                              {{#if grade10}}
                                <th style="white-space: nowrap;" id="sortWHistory">Қазақcтан тарихы</th>
                                <th style="white-space: nowrap;" id="sortWorlHistory">Дүние тарихы</th>
                                <th style="white-space: nowrap;" id="sortGeography">География</th>
                                <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                                <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                                <th style="white-space: nowrap;" id="sortBio">Биология</th>

                              {{else}}

                                <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                                <th style="white-space: nowrap;" id="sortWHistory">Қазақcтан тарихы</th>
                                <th style="white-space: nowrap;" id="sortWorlHistory">Дүние тарихы</th>
                                <th style="white-space: nowrap;" id="sortGeography">География</th>
                                <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                                <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                                <th style="white-space: nowrap;" id="sortBio">Биология</th>
                              {{/if}}

                          {{/if}}

                        {{/if}}

                        <!-- <th style="white-space: nowrap;" id="sortEng">Ағылшын тілі</th>
                        <th style="white-space: nowrap;" id="sortKazLit">Қазақ әдебиеті</th>
                        <th style="white-space: nowrap;" id="sortAlgebra">Алгебра</th>
                        <th style="white-space: nowrap;" id="sortGeometry">Геометрия</th>
                        <th style="white-space: nowrap;" id="sortInf">Информатика</th>
                        <th style="white-space: nowrap;" id="sortKZHistory">Тарих</th> -->
                    </tr>
                </thead>
                <tbody>

                    {{#each results}}
                    <tr>
                        <td class="absolute-style" style="width: 20pt; ">{{math @index "+" 1}}</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; text-align: center;">{{schoolId}}</td>
                        <td class="absolute-style" style="width: 380pt; margin-left: 70pt; ">{{schoolName schoolId}}</td>
                        <td style="padding-left: 470pt; white-space: nowrap;">{{round 2 totalInProcent}}</td>
                        <td class="center" style="white-space: nowrap;">{{math 5 "*" mathematic}}%</td>
                        <td class="center" style="white-space: nowrap;">{{math 5 "*" kazakh_lang}}%</td>

                        {{#if grade7}}
                          {{#if btsNo1_or_2 }}
                            <td class="center">{{math 5 "*" turkish_lang}}%</td>
                          {{else}}
                            <td class="center">{{math 5 "*" physics}}%</td>
                            <td class="center">{{math 5 "*" chemistry}}%</td>
                            <td class="center">{{math 5 "*" biology}}%</td>
                          {{/if}}
                        {{else}}
                          {{#if grade8_or_9}}

                            <td style="white-space: nowrap;">{{math 5 "*" turkish_lang}}%</td>
                            <td style="white-space: nowrap;">{{math 5 "*" kazakh_history}}%</td>
                            <td style="white-space: nowrap;">{{math 5 "*" geography}}%</td>
                            <td style="white-space: nowrap;">{{math 5 "*" physics}}%</td>
                            <td style="white-space: nowrap;">{{math 5 "*" chemistry}}%</td>
                            <td style="white-space: nowrap;">{{math 5 "*" biology}}%</td>

                            {{else}}

                              {{#if grade10}}
                                <td style="white-space: nowrap;">{{math 5 "*" kazakh_history}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" world_history}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" geography}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" physics}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" chemistry}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" biology}}%</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{math 5 "*" turkish_lang}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" kazakh_history}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" world_history}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" geography}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" physics}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" chemistry}}%</td>
                                <td style="white-space: nowrap;">{{math 5 "*" biology}}%</td>

                              {{/if}}

                          {{/if}}

                        {{/if}}

                    </tr>

                    <tr>
                        <td class="absolute-style" style="width: 20pt; background: white; color: white; ">-</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 19pt; text-align: center; background: white; color: white;">-</td>
                        <td class="absolute-style" style="width: 50pt;  margin-left: 69pt; background: white; color: white; ">-</td>
                        <td class="absolute-style" style="width: 380pt; margin-left: 70pt;">Категория А</td>
                        <td class="center" style="white-space: nowrap; padding-left: 262pt;"></td>
                        <td class="center">{{round 1 mathematicA}}%</td>
                        <td class="center">{{round 2 kazakh_langA}}%</td>

                        {{#if grade7 }}

                          {{#if btsNo1_or_2 }}
                            <td class="center">{{turkish_langA}}%</td>
                          {{else}}
                            <td class="center">{{physicsA}}%</td>
                            <td class="center">{{chemistryA}}%</td>
                            <td class="center">{{biologyA}}%</td>
                          {{/if}}


                        {{else}}
                          {{#if grade8_or_9 }}
                            <td class="center">{{turkish_langA}}%</td>
                            <td class="center">{{kazakh_historyA}}%</td>
                            <td class="center">{{geographyA}}%</td>
                            <td class="center">{{physicsA}}%</td>
                            <td class="center">{{chemistryA}}%</td>
                            <td class="center">{{biologyA}}%</td>

                          {{else}}
                              {{#if grade10 }}
                                <td class="center">{{kazakh_historyA}}%</td>
                                <td class="center">{{geographyA}}%</td>
                                <td class="center">{{physicsA}}%</td>
                                <td class="center">{{chemistryA}}%</td>
                                <td class="center">{{biologyA}}%</td>
                                <td class="center">{{world_historyA}}%</td>

                              {{else}}

                                  <td style="white-space: nowrap;">{{round 2 turkish_langA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 kazakh_historyA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 world_historyA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 geographyA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 physicsA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 chemistryA}}%</td>
                                  <td style="white-space: nowrap;">{{round 2 biologyA}}%</td>

                              {{/if}}

                          {{/if}}
                        {{/if}}
                    </tr>

                    <tr style="border-bottom: 2px solid black">
                        <td class="absolute-style" style="width: 20pt; background: white; color: white;  border-top: 1px black">-</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 19pt; text-align: center; background: white; color: white; border-top: 1px black">-</td>
                        <td class="absolute-style" style="width: 50pt;  margin-left: 69pt; background: white; color: white;  border-top: 1px black">-</td>
                        <td class="absolute-style" style="width: 380pt; margin-left: 70pt;">Категория B</td>
                        <td class="center" style="white-space: nowrap; padding-left: 262pt;"></td>
                        <td class="center">{{mathematicB}}%</td>
                        <td class="center">{{kazakh_langB}}%</td>

                        {{#if grade7 }}

                          {{#if btsNo1_or_2 }}
                            <td class="center">{{turkish_langB}}%</td>
                            <td class="center">{{russian_langB}}%</td>
                          {{else}}
                            <td class="center">{{physicsB}}%</td>
                            <td class="center">{{chemistryB}}%</td>
                            <td class="center">{{biologyB}}%</td>
                          {{/if}}


                        {{else}}
                          {{#if grade8_or_9 }}
                            <td class="center">{{kazakh_langB}}%</td>
                            <td class="center">{{turkish_langB}}%</td>
                            <td class="center">{{kazakh_historyB}}%</td>
                            <td class="center">{{geographyB}}%</td>
                            <td class="center">{{physicsB}}%</td>
                            <td class="center">{{chemistryB}}%</td>
                            <td class="center">{{biologyB}}%</td>

                          {{else}}
                              {{#if grade10 }}
                                <td class="center">{{kazakh_langB}}%</td>
                                <td class="center">{{kazakh_historyB}}%</td>
                                <td class="center">{{geographyB}}%</td>
                                <td class="center">{{physicsB}}%</td>
                                <td class="center">{{chemistryB}}%</td>
                                <td class="center">{{biologyB}}%</td>
                                <td class="center">{{world_historyB}}%</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{round 2 turkish_langB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 kazakh_historyB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 world_historyB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 geographyB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 physicsB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 chemistryB}}%</td>
                                <td style="white-space: nowrap;">{{round 2 biologyB}}%</td>

                              {{/if}}

                          {{/if}}
                        {{/if}}
                    </tr>
                    <!--<tr>
                        <td >A</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 mathematicA}}</td>
                        <td>{{round 2 kazakh_langA}}</td>
                        <td>{{round 2 turkish_langA}}</td>
                        <td></td>
                        <td>{{round 2 kazakh_historyA}}</td>
                        <td>{{round 2 geographyA}}</td>
                        <td>{{round 2 physicsA}}</td>
                        <td>{{round 2 chemistryA}}</td>
                        <td>{{round 2 biologyA}}</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 mathematicB}}</td>
                        <td>{{round 2 kazakh_langB}}</td>
                        <td>{{round 2 turkish_langB}}</td>
                        <td></td>
                        <td>{{round 2 kazakh_historyB}}</td>
                        <td>{{round 2 geographyB}}</td>
                        <td>{{round 2 physicsB}}</td>
                        <td>{{round 2 chemistryB}}</td>
                        <td>{{round 2 biologyB}}</td>
                        <td></td>
                    </tr>
                     <tr>
                        <td>C</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 physics_C}}</td>
                        <td>{{round 2 chemistry_C}}</td>
                        <td>{{round 2 biology_C}}</td>
                        <td>{{round 2 english_C}}</td>
                        <td>{{round 2 kazakh_C}}</td>
                        <td>{{round 2 kazakh_literature_C}}</td>
                        <td></td>
                        <td>{{round 2 algebra_C}}</td>
                        <td>{{round 2 geometry_C}}</td>
                        <td>{{round 2 computer_C}}</td>
                        <td>{{round 2 world_history_C}}</td>
                        <td>{{round 2 kazakh_history_C}}</td>
                        <td>{{round 2 geography_C}}</td>
                        <td></td>
                    </tr> -->
                    {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
