<template name="btsRatingByCount">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">БТС-{{btsNo}} Рейтинг Санмен</h4>

            <div class="form-inline" style="padding-bottom: 10pt">
                <div class="form-group" style="margin-right: 10pt">
                    {{> academicYear}}
                    <label for="" style="margin-left: 10pt;">Сынып</label>
                    <select class="form-control" name='grade' id='select'>
                        <option value="7">7 cынып</option>
                        <option value="8">8 cынып</option>
                        <option value="9">9 cынып</option>
                        <option value="10">10 cынып</option>
                    </select>
                </div>

                <div class="form-group" style="float: right">
                    <a class="btn btn-success" id="export">Export</a>
                </div>

            </div>
            {{#if Template.subscriptionsReady}}
            <div class="table table-responsive" id="out">
              <table class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0>

                <thead>
                    <tr class="bts-header center">
                        <th class="absolute-style" style="width: 20pt;  text-align: center;">#</th>
                        <th class="absolute-style" style="width: 55pt;  margin-left: 20pt; ">Мектеп ID</th>
                        <th class="absolute-style" style="width: 270pt; margin-left: 70pt; ">Мектеп аты</th>
                        <th style="white-space: nowrap; padding-left: 350pt;"  id="sortTotal">Жалпы</th>

                        <th style="white-space: nowrap;" id="sortMath">Математика</th>

                        {{#if grade7}}

                          {{#if btsNo3}}
                            <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                            <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                            <th style="white-space: nowrap;" id="sortBio">Биология</th>

                          {{else}}
                            <th style="white-space: nowrap;" id="sortKazakh">Қазақ тілі</th>
                            <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                            <th style="white-space: nowrap;" id="sortRus">Орыс тілі</th>
                          {{/if}}
                        {{else}}
                          {{#if grade8_or_9}}

                            <th style="white-space: nowrap;" id="sortKazakh">Қазақ тілі</th>
                            <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                            <th style="white-space: nowrap;" id="sortHistory">Қазақcтан тарихы</th>
                            <th style="white-space: nowrap;" id="sortGeography">География</th>
                            <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                            <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                            <th style="white-space: nowrap;" id="sortBio">Биология</th>

                            {{else}}

                              {{#if grade10}}
                                <th style="white-space: nowrap;" id="sortKazakh">Қазақ тілі</th>
                                <th style="white-space: nowrap;" id="sortHistory">Қазақcтан тарихы</th>
                                <th style="white-space: nowrap;" id="sortWorldHistory">Дүние тарихы</th>
                                <th style="white-space: nowrap;" id="sortGeography">География</th>
                                <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                                <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                                <th style="white-space: nowrap;" id="sortBio">Биология</th>

                              {{else}}

                                <th style="white-space: nowrap;" id="sortTur">Қазақ тілі</th>
                                <th style="white-space: nowrap;" id="sortTur">Түрік тілі</th>
                                <th style="white-space: nowrap;" id="sortRus">Орыс тілі</th>
                                <th style="white-space: nowrap;" id="sortHistory">Қазақcтан тарихы</th>
                                <th style="white-space: nowrap;" id="sortWorldHistory">Дүние тарихы</th>
                                <th style="white-space: nowrap;" id="sortGeography">География</th>
                                <th style="white-space: nowrap;" id="sortPhysics">Физика</th>
                                <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                                <th style="white-space: nowrap;" id="sortBio">Биология</th>
                              {{/if}}

                          {{/if}}

                        {{/if}}

                        <!-- <th style="white-space: nowrap;" id="sortEng">Ағылшын тілі</th>
                        <th style="white-space: nowrap;" id="sortKazLit">Қазақ әдебиеті</th>
                        <th style="white-space: nowrap;" id="sortAlgebra">Алгебра</th>
                        <th style="white-space: nowrap;" id="sortGeometry">Геометрия</th>
                        <th style="white-space: nowrap;" id="sortInf">Информатика</th>
                        <th style="white-space: nowrap;" id="sortKZHistory">Тарих</th> -->
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td class="absolute-style" style="width: 20pt; ">{{math @index "+" 1}}</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; text-align: center;">{{schoolId}}</td>
                        <td class="absolute-style" style="width: 270pt; margin-left: 70pt; ">{{schoolName schoolId}}</td>
                        <td style="padding-left: 350pt; white-space: nowrap;">{{round 2 total}} % </td>


                        <td style="white-space: nowrap;">{{round 2 mathematic}}</td>

                        {{#if grade7}}

                          {{#if btsNo3}}
                            <td style="white-space: nowrap;">{{round 2 physics}}</td>
                            <td style="white-space: nowrap;">{{round 2 chemistry}}</td>
                            <td style="white-space: nowrap;">{{round 2 biology}}</td>

                          {{else}}
                            <td style="white-space: nowrap;">{{round 2 kazakh_lang}}</td>
                            <td style="white-space: nowrap;">{{round 2 turkish_lang}}</td>
                            <td style="white-space: nowrap;">{{round 2 russian_lang}}</td>

                          {{/if}}

                        {{else}}
                          {{#if grade8_or_9}}

                            <td style="white-space: nowrap;">{{round 2 kazakh_lang}}</td>
                            <td style="white-space: nowrap;">{{round 2 turkish_lang}}</td>
                            <td style="white-space: nowrap;">{{round 2 kazakh_history}}</td>
                            <td style="white-space: nowrap;">{{round 2 geography}}</td>
                            <td style="white-space: nowrap;">{{round 2 physics}}</td>
                            <td style="white-space: nowrap;">{{round 2 chemistry}}</td>
                            <td style="white-space: nowrap;">{{round 2 biology}}</td>

                            {{else}}

                              {{#if grade10}}
                                <td style="white-space: nowrap;">{{#if kazakh_lang}}    {{round 2 kazakh_lang}}     {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if kazakh_history}} {{round 2 kazakh_history}}  {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if world_history}}  {{round 2 world_history}}   {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if geography}}      {{round 2 geography}}       {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if physics}}        {{round 2 physics}}         {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if chemistry}}      {{round 2 chemistry}}       {{/if}}</td>
                                <td style="white-space: nowrap;">{{#if biology}}        {{round 2 biology}}         {{/if}}</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{round 2 kazakh_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 turkish_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 russian_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 kazakh_history}}</td>
                                <td style="white-space: nowrap;">{{round 2 world_history}}</td>
                                <td style="white-space: nowrap;">{{round 2 geography}}</td>
                                <td style="white-space: nowrap;">{{round 2 physics}}</td>
                                <td style="white-space: nowrap;">{{round 2 chemistry}}</td>
                                <td style="white-space: nowrap;">{{round 2 biology}}</td>

                              {{/if}}

                          {{/if}}

                        {{/if}}

                    </tr>

                    <!-- Рейтинг санмен-->
                    <!-- JaksiCount count -->
                    <tr>
                        <td class="absolute-style" style="width: 20pt; background-color: white; color: white;">-</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; background-color: white; color: white;">-</td>

                        <td class="absolute-style" style="width: 270pt; margin-left: 70pt; text-align: right; background-color: #b2fab4">Өте жақсы оқушы саны</td>
                        <td style="padding-left: 350pt; white-space: nowrap; background-color: #b2fab4">{{round 2 totalJaksiCount}} %</td>

                        <td class="jaksiClass">{{mathematicJaksiCount}}</td>

                        {{#if grade7}}

                          {{#if btsNo3}}
                            <td class="jaksiClass">{{physicsJaksiCount}}</td>
                            <td class="jaksiClass">{{chemistryJaksiCount}}</td>
                            <td class="jaksiClass">{{biologyJaksiCount}}</td>

                          {{else}}
                            <td class="jaksiClass">{{kazakh_langJaksiCount}}</td>
                            <td class="jaksiClass">{{turkish_langJaksiCount}}</td>
                            <td class="jaksiClass">{{russian_langJaksiCount}}</td>

                          {{/if}}

                        {{else}}
                          {{#if grade8_or_9}}

                            <td class="jaksiClass">{{kazakh_langJaksiCount}}</td>
                            <td class="jaksiClass">{{turkish_langJaksiCount}}</td>
                            <td class="jaksiClass">{{kazakh_historyJaksiCount}}</td>
                            <td class="jaksiClass">{{geographyJaksiCount}}</td>
                            <td class="jaksiClass">{{physicsJaksiCount}}</td>
                            <td class="jaksiClass">{{chemistryJaksiCount}}</td>
                            <td class="jaksiClass">{{biologyJaksiCount}}</td>

                            {{else}}

                              {{#if grade10}}
                                <td class="jaksiClass">{{#if kazakh_langJaksiCount}}    {{kazakh_langJaksiCount}}     {{/if}}</td>
                                <td class="jaksiClass">{{#if kazakh_historyJaksiCount}} {{kazakh_historyJaksiCount}}  {{/if}}</td>
                                <td class="jaksiClass">{{#if world_historyJaksiCount}}  {{world_historyJaksiCount}}   {{/if}}</td>
                                <td class="jaksiClass">{{#if geographyJaksiCount}}      {{geographyJaksiCount}}       {{/if}}</td>
                                <td class="jaksiClass">{{#if physicsJaksiCount}}        {{physicsJaksiCount}}         {{/if}}</td>
                                <td class="jaksiClass">{{#if chemistryJaksiCount}}      {{chemistryJaksiCount}}       {{/if}}</td>
                                <td class="jaksiClass">{{#if biologyJaksiCount}}        {{biologyJaksiCount}}         {{/if}}</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{kazakh_lang}}</td>
                                <td style="white-space: nowrap;">{{turkish_lang}}</td>
                                <td style="white-space: nowrap;">{{russian_lang}}</td>
                                <td style="white-space: nowrap;">{{kazakh_history}}</td>
                                <td style="white-space: nowrap;">{{world_history}}</td>
                                <td style="white-space: nowrap;">{{geography}}</td>
                                <td style="white-space: nowrap;">{{physics}}</td>
                                <td style="white-space: nowrap;">{{chemistry}}</td>
                                <td style="white-space: nowrap;">{{biology}}</td>

                              {{/if}}

                          {{/if}}

                        {{/if}}

                    </tr>
                    <!-- Ortawa count -->
                    <tr>
                        <td class="absolute-style" style="width: 20pt; background-color: white; color: white;">-</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; background-color: white; color: white;">-</td>

                        <td class="absolute-style" style="width: 270pt; margin-left: 70pt; text-align: right; background-color: #ffff8b">Үлгерімі жоғары оқушы саны</td>
                        <td style="padding-left: 350pt; white-space: nowrap; background-color: #ffff8b">{{round 2 totalOrtawaCount}} %</td>

                        <td class="ortawaClass">{{mathematicOrtawaCount}}</td>

                        {{#if grade7}}

                          {{#if btsNo3}}
                            <td class="ortawaClass">{{physicsOrtawaCount}}</td>
                            <td class="ortawaClass">{{chemistryOrtawaCount}}</td>
                            <td class="ortawaClass">{{biologyOrtawaCount}}</td>

                          {{else}}
                            <td class="ortawaClass">{{kazakh_langOrtawaCount}}</td>
                            <td class="ortawaClass">{{turkish_langOrtawaCount}}</td>
                            <td class="ortawaClass">{{russian_langOrtawaCount}}</td>

                          {{/if}}

                        {{else}}
                          {{#if grade8_or_9}}

                            <td class="ortawaClass">{{kazakh_langOrtawaCount}}</td>
                            <td class="ortawaClass">{{turkish_langOrtawaCount}}</td>
                            <td class="ortawaClass">{{kazakh_historyOrtawaCount}}</td>
                            <td class="ortawaClass">{{geographyOrtawaCount}}</td>
                            <td class="ortawaClass">{{physicsOrtawaCount}}</td>
                            <td class="ortawaClass">{{chemistryOrtawaCount}}</td>
                            <td class="ortawaClass">{{biologyOrtawaCount}}</td>

                            {{else}}

                              {{#if grade10}}
                                <td class="ortawaClass">{{#if kazakh_langOrtawaCount}}    {{kazakh_langOrtawaCount}}     {{/if}}</td>
                                <td class="ortawaClass">{{#if kazakh_historyOrtawaCount}} {{kazakh_historyOrtawaCount}}  {{/if}}</td>
                                <td class="ortawaClass">{{#if world_historyOrtawaCount}}  {{world_historyOrtawaCount}}   {{/if}}</td>
                                <td class="ortawaClass">{{#if geographyOrtawaCount}}      {{geographyOrtawaCount}}       {{/if}}</td>
                                <td class="ortawaClass">{{#if physicsOrtawaCount}}        {{physicsOrtawaCount}}         {{/if}}</td>
                                <td class="ortawaClass">{{#if chemistryOrtawaCount}}      {{chemistryOrtawaCount}}       {{/if}}</td>
                                <td class="ortawaClass">{{#if biologyOrtawaCount}}        {{biologyOrtawaCount}}         {{/if}}</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{kazakh_lang}}</td>
                                <td style="white-space: nowrap;">{{turkish_lang}}</td>
                                <td style="white-space: nowrap;">{{russian_lang}}</td>
                                <td style="white-space: nowrap;">{{kazakh_history}}</td>
                                <td style="white-space: nowrap;">{{world_history}}</td>
                                <td style="white-space: nowrap;">{{geography}}</td>
                                <td style="white-space: nowrap;">{{physics}}</td>
                                <td style="white-space: nowrap;">{{chemistry}}</td>
                                <td style="white-space: nowrap;">{{biology}}</td>

                              {{/if}}

                          {{/if}}

                        {{/if}}

                    </tr>

                    <!-- Nawar count -->
                    <tr style="border-bottom: 3px solid black">
                        <td class="absolute-style" style="width: 20pt; background-color: white; color: white;">-</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; background-color: white; color: white;">-</td>
                        <td class="absolute-style" style="width: 270pt; margin-left: 70pt; text-align: right; background-color: #ff867c">Үлгерімі төмен оқушы саны</td>
                        <td style="padding-left: 350pt; white-space: nowrap; background-color: #ff867c">{{round 2 totalNawarCount}} %</td>

                        <td class="nawarClass">{{mathematicNawarCount}}</td>

                        {{#if grade7}}

                          {{#if btsNo3}}
                            <td class="nawarClass">{{physicsNawarCount}}</td>
                            <td class="nawarClass">{{chemistryNawarCount}}</td>
                            <td class="nawarClass">{{biologyNawarCount}}</td>

                          {{else}}
                            <td class="nawarClass">{{kazakh_langNawarCount}}</td>
                            <td class="nawarClass">{{turkish_langNawarCount}}</td>
                            <td class="nawarClass">{{russian_langNawarCount}}</td>

                          {{/if}}

                        {{else}}
                          {{#if grade8_or_9}}

                            <td class="nawarClass">{{kazakh_langNawarCount}}</td>
                            <td class="nawarClass">{{turkish_langNawarCount}}</td>
                            <td class="nawarClass">{{kazakh_historyNawarCount}}</td>
                            <td class="nawarClass">{{geographyNawarCount}}</td>
                            <td class="nawarClass">{{physicsNawarCount}}</td>
                            <td class="nawarClass">{{chemistryNawarCount}}</td>
                            <td class="nawarClass">{{biologyNawarCount}}</td>

                            {{else}}

                              {{#if grade10}}
                                <td class="nawarClass">{{#if kazakh_langNawarCount}}    {{kazakh_langNawarCount}}     {{/if}}</td>
                                <td class="nawarClass">{{#if kazakh_historyNawarCount}} {{kazakh_historyNawarCount}}  {{/if}}</td>
                                <td class="nawarClass">{{#if world_historyNawarCount}}  {{world_historyNawarCount}}   {{/if}}</td>
                                <td class="nawarClass">{{#if geographyNawarCount}}      {{geographyNawarCount}}       {{/if}}</td>
                                <td class="nawarClass">{{#if physicsNawarCount}}        {{physicsNawarCount}}         {{/if}}</td>
                                <td class="nawarClass">{{#if chemistryNawarCount}}      {{chemistryNawarCount}}       {{/if}}</td>
                                <td class="nawarClass">{{#if biologyNawarCount}}        {{biologyNawarCount}}         {{/if}}</td>

                              {{else}}

                                <td style="white-space: nowrap;">{{round 2 kazakh_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 turkish_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 russian_lang}}</td>
                                <td style="white-space: nowrap;">{{round 2 kazakh_history}}</td>
                                <td style="white-space: nowrap;">{{round 2 world_history}}</td>
                                <td style="white-space: nowrap;">{{round 2 geography}}</td>
                                <td style="white-space: nowrap;">{{round 2 physics}}</td>
                                <td style="white-space: nowrap;">{{round 2 chemistry}}</td>
                                <td style="white-space: nowrap;">{{round 2 biology}}</td>

                              {{/if}}

                          {{/if}}

                        {{/if}}

                    </tr>

                    <!--
                    <tr>
                        <td>B</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 mathematicB}}</td>
                        <td>{{round 2 kazakh_langB}}</td>
                        <td>{{round 2 turkish_langB}}</td>
                        <td></td>
                        <td>{{round 2 kazakh_historyB}}</td>
                        <td>{{round 2 geographyB}}</td>
                        <td>{{round 2 physicsB}}</td>
                        <td>{{round 2 chemistryB}}</td>
                        <td>{{round 2 biologyB}}</td>
                        <td></td>
                    </tr>
                     <tr>
                        <td>C</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 physics_C}}</td>
                        <td>{{round 2 chemistry_C}}</td>
                        <td>{{round 2 biology_C}}</td>
                        <td>{{round 2 english_C}}</td>
                        <td>{{round 2 kazakh_C}}</td>
                        <td>{{round 2 kazakh_literature_C}}</td>
                        <td></td>
                        <td>{{round 2 algebra_C}}</td>
                        <td>{{round 2 geometry_C}}</td>
                        <td>{{round 2 computer_C}}</td>
                        <td>{{round 2 world_history_C}}</td>
                        <td>{{round 2 kazakh_history_C}}</td>
                        <td>{{round 2 geography_C}}</td>
                        <td></td>
                    </tr> -->
                    {{/each}}
                </tbody>
              </table>
            </div>

            <h4 style="text-align: center;">Енгізбеген мектептер</h4>
            <div class="table table-responsive" id="out">
              <table class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0 width=100%>

                <thead>
                    <tr class="bts-header" style="white-space: nowrap">
                        <th>#</th>
                        <th>Мектеп аты</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each schoolNotUploaded}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}


                </tbody>
              </table>
            </div>

            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
