<template name="btsRating">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">БТС-{{btsNo}} Рейтинг</h4>
            <div class="form-inline" style="padding-bottom: 10pt">
                <div class="form-group" style="margin-right: 10pt">
                    {{> academicYear}}
                    <label for="" style="margin-left: 10pt;">Сынып</label>
                    <select class="form-control" name='grade' id='select'>
                        <option value="all">Жалпы</option>
                        <option value="7">7 cынып</option>
                        <option value="8">8 cынып</option>
                        <option value="9">9 cынып</option>
                        <option value="10">10 cынып</option>
                    </select>
                </div>

                <div class="form-group" style="float: right">
                    <a class="btn btn-success" id="export">Export</a>
                </div>

            </div>
            {{#if Template.subscriptionsReady}}
            <div class="table table-responsive" id="out">
              <table class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0 width=100%>

                <thead>
                    <tr class="bts-header center">
                        <th class="absolute-style" style="width: 20pt;  text-align: center;">#</th>
                        <th class="absolute-style" style="width: 55pt;  margin-left: 20pt; ">Мектеп ID</th>
                        <th class="absolute-style" style="width: 380pt; margin-left: 70pt; ">Мектеп аты</th>
                        <th style="white-space: nowrap; padding-left: 470pt;"  id="sortTotal">Жалпы</th>
                        <th id="sortPhysics">Физика</th>
                        <th style="white-space: nowrap;" id="sortChemistry">Химия</th>
                        <th style="white-space: nowrap;" id="sortBio">Биология</th>
                        <th style="white-space: nowrap;" id="sortEng">Ағылшын тілі</th>
                        <th style="white-space: nowrap;" id="sortKazakh">Қазақ тілі</th>
                        <th style="white-space: nowrap;" id="sortKazLit">Қазақ әдебиеті</th>
                        <th style="white-space: nowrap;" id="sortRus">Орыс тілі</th>
                        <th style="white-space: nowrap;" id="sortAlgebra">Алгебра</th>
                        <th style="white-space: nowrap;" id="sortGeometry">Геометрия</th>
                        <th style="white-space: nowrap;" id="sortInf">Информатика</th>
                        <th style="white-space: nowrap;" id="sortWHistory">Жалпы тарих</th>
                        <th style="white-space: nowrap;" id="sortKZHistory">Тарих</th>
                        <th style="white-space: nowrap;" id="sortGeography">География</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td class="absolute-style" style="width: 20pt; ">{{math @index "+" 1}}</td>
                        <td class="absolute-style" style="width: 55pt;  margin-left: 20pt; text-align: center;">{{schoolId}}</td>
                        <td class="absolute-style" style="width: 380pt; margin-left: 70pt; ">{{schoolName schoolId}}</td>
                        <td style="padding-left: 470pt;">{{round 2 total}}</td>
                        <td>{{round 2 physics}}</td>
                        <td>{{round 2 chemistry}}</td>
                        <td>{{round 2 biology}}</td>
                        <td>{{round 2 english}}</td>
                        <td>{{round 2 kazakh}}</td>
                        <td>{{round 2 kazakh_literature}}</td>
                        <td>{{round 2 russian}}</td>
                        <td>{{round 2 algebra}}</td>
                        <td>{{round 2 geometry}}</td>
                        <td>{{round 2 computer}}</td>
                        <td>{{round 2 world_history}}</td>
                        <td>{{round 2 kazakh_history}}</td>
                        <td>{{round 2 geography}}</td>
                    </tr>
                    <!-- <tr>
                        <td>A</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 physics_A}}</td>
                        <td>{{round 2 chemistry_A}}</td>
                        <td>{{round 2 biology_A}}</td>
                        <td>{{round 2 english_A}}</td>
                        <td>{{round 2 kazakh_A}}</td>
                        <td>{{round 2 kazakh_literature_A}}</td>
                        <td></td>
                        <td>{{round 2 algebra_A}}</td>
                        <td>{{round 2 geometry_A}}</td>
                        <td>{{round 2 computer_A}}</td>
                        <td>{{round 2 world_history_A}}</td>
                        <td>{{round 2 kazakh_history_A}}</td>
                        <td>{{round 2 geography_A}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 physics_B}}</td>
                        <td>{{round 2 chemistry_B}}</td>
                        <td>{{round 2 biology_B}}</td>
                        <td>{{round 2 english_B}}</td>
                        <td>{{round 2 kazakh_B}}</td>
                        <td>{{round 2 kazakh_literature_B}}</td>
                        <td></td>
                        <td>{{round 2 algebra_B}}</td>
                        <td>{{round 2 geometry_B}}</td>
                        <td>{{round 2 computer_B}}</td>
                        <td>{{round 2 world_history_B}}</td>
                        <td>{{round 2 kazakh_history_B}}</td>
                        <td>{{round 2 geography_B}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td></td>
                        <td></td>
                        <td>{{round 2 physics_C}}</td>
                        <td>{{round 2 chemistry_C}}</td>
                        <td>{{round 2 biology_C}}</td>
                        <td>{{round 2 english_C}}</td>
                        <td>{{round 2 kazakh_C}}</td>
                        <td>{{round 2 kazakh_literature_C}}</td>
                        <td></td>
                        <td>{{round 2 algebra_C}}</td>
                        <td>{{round 2 geometry_C}}</td>
                        <td>{{round 2 computer_C}}</td>
                        <td>{{round 2 world_history_C}}</td>
                        <td>{{round 2 kazakh_history_C}}</td>
                        <td>{{round 2 geography_C}}</td>
                        <td></td>
                    </tr> -->
                    {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
