<template name="allStudents">
    <div class="row">
        <div class="col-md-12">
            <h4>{{getGrade}} сынып oқушылар тізімі</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="schoolId">Іздеу:</label>
                            <input type="text" class="form-control" id="search" placeholder="Аты" name="name_search">
                            <input type="text" class="form-control" id="search" placeholder="Жөні" name="surname_search">
                            
                            <select class="form-control" style="width:150pt" name="schoolId_select" id="select">
                                <option value="">Select School</option>
                                {{#each schools}}
                                    <option value="{{schoolId}}" >{{shortName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Оқушы ID</th>
                        <th>Сыныбы</th>
                        <th>Аты-жөні</th>
                        <th>Toбы</th>
                        <th>Мектеп</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{studentId}}</td>
                        <td>{{grade}}{{division}}</td>
                        <td>{{surname}} {{name}}</td>
                        <td>{{languageGroup}}</td>
                        <td>{{schoolName schoolId}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
