<template name="adminMenu">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">tests.bilik.kz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Басты бет</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">БТС<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/bts/keys">Жауап кілттері</a></li>
                <li><a href="/admin/bts/levels">Категория кілттері</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/lessonObjectives">Сабақ мақсаттары</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-1</a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/bts/rating/1">Рейтинг</a></li>
                    <li><a href="/admin/bts/allResults/1">Нәтижелер</a></li>
                    <li><a href="/admin/bts/top10/1">ТОП-10</a></li>
                    <li><a href="/admin/bts/objectives/1">Сабақ мақсаттары</a></li>

                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/results/1/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/1/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/1/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/1/10">10 сынып</a></li>
                      </ul>
                    </li>

                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/rating/1/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/1/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/1/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/1/10">10 сынып</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">БТС-2</a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/bts/rating/2">Рейтинг</a></li>
                    <li><a href="/admin/bts/allResults/2">Нәтижелер</a></li>
                    <li><a href="/admin/bts/top10/2">ТОП-10</a></li>
                    <li><a href="/admin/bts/objectives/2">Сабақ мақсаттары</a></li>
                    
                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/results/2/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/2/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/2/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/2/10">10 сынып</a></li>
                      </ul>
                    </li>

                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/rating/2/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/2/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/2/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/2/10">10 сынып</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">БТС-3</a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/bts/rating/3">Рейтинг</a></li>
                    <li><a href="/admin/bts/allResults/3">Нәтижелер</a></li>
                    <li><a href="/admin/bts/top10/3">ТОП-10</a></li>
                    <li><a href="/admin/bts/objectives/3">Сабақ мақсаттары</a></li>
                    
                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/results/3/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/3/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/3/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/3/10">10 сынып</a></li>
                      </ul>
                    </li>

                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/rating/3/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/3/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/3/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/3/10">10 сынып</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">БТС-4</a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/bts/rating/4">Рейтинг</a></li>
                    <li><a href="/admin/bts/allResults/4">Нәтижелер</a></li>
                    <li><a href="/admin/bts/top10/4">ТОП-10</a></li>
                    <li><a href="/admin/bts/objectives/4">Сабақ мақсаттары</a></li>
                    
                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/results/4/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/4/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/4/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/results/4/10">10 сынып</a></li>
                      </ul>
                    </li>

                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/bts/objectives/rating/4/7">7 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/4/8">8 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/4/9">9 сынып</a></li>
                        <li><a href="/admin/bts/objectives/rating/4/10">10 сынып</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
               <!-- 
                <li><a href="/admin/bts/stats/1">БТС-1</a></li>
                <li><a href="/admin/bts/stats/2">БТС-2</a></li>
                <li><a href="/admin/bts/stats/3">БТС-3</a></li>
                <li><a href="/admin/bts/stats/4">БТС-4</a></li> -->

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">КБО<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/kbo/keys">Жауап кілттері</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Рейтинг</li>
                <li><a href="/admin/kbo/rating/1">КБО-1</a></li>
                <li><a href="/admin/kbo/rating/2">КБО-2</a></li>
                <li><a href="/admin/kbo/rating/3">КБО-3</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Нәтижелер</li>
                <li><a href="/admin/kbo/final">Финал</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ТАТ<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/tat/keys">Жауап кілттері</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Рейтинг</li>
                <li><a href="/admin/tat/rating/1">ТАТ-1</a></li>
                <li><a href="/admin/tat/rating/2">ТАТ-2</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Нәтижелер</li>
                <li><a href="/admin/tat/results/1">ТАТ-1</a></li>
                <li><a href="/admin/tat/results/2">ТАТ-2</a></li>
                <li><a href="/admin/tat/final">Жалпы</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ҰБТ<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/ubt/rating">Рейтинг</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Türkçe<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/turkish/keys">Жауап кілттері</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/turkish/rating">Рейтинг</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/turkish/results">Нәтижелер</a></li>
              </ul>
            </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-briefcase"></span> Мұғалімдер<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/admin/allTeachers/all">Мұғалімдер тізімі</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Рейтинг</li>
                      <li><a href="/admin/allTeachers/rating/1">1 тоқсан</a></li>
                      <li><a href="/admin/allTeachers/rating/2">2 тоқсан</a></li>
                      <li><a href="/admin/allTeachers/rating/3">3 тоқсан</a></li>
                      <li><a href="/admin/allTeachers/rating/4">4 тоқсан</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/allTeachers/transfer">Трансфер</a></li>
                  </ul>
            </li> 
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Оқушылар<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Оқушылар тізімі</li>
                      <li><a href="/admin/students/all/7">7 сынып</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/students/all/8">8 сынып</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/students/all/9">9 сынып</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/students/all/10">10 сынып</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/students/all/11">11 сынып</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/students/transfer">Трансфер</a></li>
                  </ul>
            </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span> Олимпиада<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="dropdown-header">Олимпиада нәтижелері</li>
                      <li><a href="/admin/olympiadsRegion">Облыстық</a></li>
                      <li><a href="/admin/olympiadsRegionJunior">Облыстық Юниор</a></li>
                      <li><a href="/admin/olympiadsRepublic">Республикалық</a></li>
                      <li><a href="/admin/olympiadsRepublicJunior">Республикалық Юниор</a></li>
                      <li><a href="/admin/olympiadsInter">Халықаралық</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/admin/olympiadsRating">Рейтинг</a></li>
                      <li><a href="/admin/olympiadsRatingInter">Рейтинг Халықаралық</a></li>
                  </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span> Жоба<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="dropdown-header">Жоба нәтижелері</li>
                  <li><a href="/admin/jobaRegion">Облыстық</a></li>
                  <li><a href="/admin/jobaRepublic">Республикалық</a></li>
                  <li><a href="/admin/jobaInter">Халықаралық</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/jobaRating">Рейтинг</a></li>
              </ul>
        </li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/settings"><span class="glyphicon glyphicon-cog"></span> Баптаулар</a></li>
            <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Шығу</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>
