<template name="opeReportRatings">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center; padding-bottom: 15pt">Олимпиада Дайындық Репорт Рейтинг<br>(2 апталық)</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 15pt">

                          <!--
                          <label style="margin-left: 10pt;">Репорт уақыты</label>
                          <select class="form-control" id="reportPeriod">
                              <option value="16.11 - 30.11">Жалпы</option>
                              <option value="16.11 - 30.11">16.11 - 30.11</option>
                              <option value="30.11 - 14.12">30.11 - 14.12</option>
                              <option value="14.12 - 28.12">14.12 - 28.12</option>
                              <option value="28.12 - 11.01">28.12 - 11.01</option>
                              <option value="11.01 - 25.01">11.01 - 25.01</option>
                              <option value="25.01 - 08.02">25.01 - 08.02</option>
                              <option value="08.01 - 22.02">08.01 - 22.02</option>
                              <option value="22.02 - 07.03">22.02 - 07.03</option>
                          </select>
                          -->

                          <label>Сабақты таңдаңыз</label>
                          <select class="form-control" id="subjectId">
                              <option value="all">Жалпы</option>
                              <option value="01">Математика</option>
                              <option value="02">Физика</option>
                              <option value="03">Химия</option>
                              <option value="04">Биология</option>
                              <option value="05">Информатика</option>
                              <option value="06">Ағылшын тілі</option>
                              <option value="07">География</option>
                              <option value="08">Қазақстан тарихы</option>
                              <option value="09">Қазақ тілі</option>
                              <option value="10">Түрік тілі</option>
                              <option value="11">Орыс тілі</option>
                              <option value="12">Құқық</option>
                          </select>

                        </div>

                    </div>
                </div>
            </div>

            {{#if Template.subscriptionsReady}}

            <div  class="table table-responsive" id="out">
              <table style="margin-top: 15pt" class="table table-striped">

                <thead>
                    <tr class="bts-header">
                        <th class="absolute-style" style="width: 230pt; height: 80pt; white-space: nowrap; text-align: center;">Мектеп аты</th>
                        <th style="padding-left: 240pt;">Мұғалім түсіндірген сабақ сағаты</th>
                        <th style="text-align:center">Басқа мұғалім түсіндірген сабақ сағаты</th>
                        <th style="text-align:center">Жасалған емтихан саны</th>
                        <th style="text-align:center">Мұғалім мотивация программ сағаты</th>
                        <th style="text-align:center">Мұғалімнің кандидат саны(10 сынып)</th>
                        <th style="text-align:center">Мұғалімнің кандидат саны(11 сынып)</th>
                        <th style="text-align:center">Жалпы Олимпиадчик оқушы саны</th>
                        <th style="text-align:center">Область дәрежесіне жеткен оқушы саны</th>
                        <th style="text-align:center">Республика дәрежесіне жеткен оқушы саны</th>
                        <th style="text-align:center">Дүние дәрежесіне жеткен оқушы саны</th>
                        <th style="text-align:center">Әкімшіліктің мотивация программ сағаты</th>
                        <th style="text-align:center">Олимпиада мұғалімдерімен жиналыс сағаты</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each results}}
                    <tr>
                        <td class="absolute-style" style="width: 230pt; background-color: white;">{{schoolName schoolId}}</td>
                        <td style="padding-left: 240pt; white-space: nowrap; text-align:center; ">{{reportType1}}</td>
                        <td style="text-align: center;">{{reportType2}}</td>
                        <td style="text-align: center;">{{reportType3}}</td>
                        <td style="text-align: center;">{{reportType4}}</td>
                        <td style="text-align: center;">{{reportType5}}</td>
                        <td style="text-align: center;">{{reportType6}}</td>
                        <td style="text-align: center;">{{reportType7}}</td>
                        <td style="text-align: center;">{{reportType8}}</td>
                        <td style="text-align: center;">{{reportType9}}</td>
                        <td style="text-align: center;">{{reportType10}}</td>
                        <td style="text-align: center;">{{reportType11}}</td>
                        <td style="text-align: center;">{{reportType12}}</td>
                    </tr>
                    {{/each}}
                </tbody>

                <!--
                <tbody>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; background-color: white;">Мұғалім түсіндірген сабақ сағаты</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>

                    <tr>
                        <td class="absolute-style" style="width: 230pt; background-color: white;">Басқа мұғалім түсіндірген сабақ сағаты</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>

                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap; ">Жасалған емтихан саны</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>

                    </tr>

                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Мұғалім мотивация программ сағаты</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>

                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Мұғалімнің кандидат саны(10 сынып)</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Мұғалімнің кандидат саны(11 сынып)</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Жалпы Олимпиадчик оқушы саны</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Область дәрежесіне жеткен оқушы саны</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Республика дәрежесіне жеткен оқушы саны</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Дүние дәрежесіне жеткен оқушы саны</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number"  name="quantity" value="{{report1_physics}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_chemistry}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_biology}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_english}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_geography}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_history}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_informatic}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_kazakh_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_turkish_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_russian_lang}}"></td>
                        <td style="text-align:center" ><input style="width: 50pt;" type="number" value="{{report1_huhuk}}"></td>
                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Әкімшіліктің мотивация программ сағаты</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>

                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; white-space: nowrap;">Олимпиада мұғалімдерімен жиналыс сағаты</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><input style="width: 50pt;" type="number" value="{{report1_math}}"></td>

                    </tr>
                    <tr>
                        <td class="absolute-style" style="width: 230pt; height: 35pt; white-space: nowrap;">Директор растады ма?</td>
                        <td style="padding-left: 240pt; white-space: nowrap;"><a class="btn btn-primary" style="width: 50pt;" id="director_yes">Иә</a></td>
                        <td style="text-align:center" ><a class="btn btn-success" style="width: 50pt;" id="director_no">Жоқ</a></td>

                    </tr>

                </tbody> -->
              </table>
            </div>

            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
