<template name="allTeachers">
    <div class="row">
        <div class="col-md-12">
            <h4>Мұғалім тізімі</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="schoolId">Іздеу:</label>
                            <input type="text" class="form-control" id="search" placeholder="Аты" name="name_search">
                            <input type="text" class="form-control" id="search" placeholder="Жөні" name="surname_search">

                            <select class="form-control" style="width:150pt" name="schoolId_select" id="select">
                                <option value="">Select School</option>
                            {{#each schools}}
                                <option value="{{schoolId}}" >{{shortName}}</option>
                            {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            {{#if Template.subscriptionsReady}}
            <table class="table table-striped">
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Мұғалім ID</th>
                        <th>Аты-жөні</th>
                        <th style="width:13%">Пәні</th>
                        <th>Академ дәреже</th>
                        <th style="width:7.5%; text-align:center">Пед стаж</th>
                        <th>Лауазымы</th>
                        <th style="width:7.5%; text-align:center">IELTS</th>
                        <th style="text-align: center">Категория</th>
                        <th style="width:20%; text-align:center">Мектеп</th>
                        <th>Өзгерту</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each teachers}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{teacherId}}</td>
                        <td>{{surname}} {{name}}</td>
                        <td>{{subjectName subjectId}}</td>
                        <td>{{academicDegree }}</td>
                        <th style="text-align:center">{{workExperience}}</th>
                        <th>{{position}}</th>
                        <td style="text-align:center">{{ielts }}</td>
                        <td style="text-align: center">{{category}}</td>
                        <td>{{schoolName schoolId }}</td>
                        <a href="/admin/allTeachers/edit/{{_id}}" class="btn btn-primary">Өзгерту</a>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
