<template name="editKboKey">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h4>КБО-Жауап кілтін өзгерту</h4>
			</div>
			<div class="row">
				<div class="form-group">
                  <div class="form-inline">
                      <div class="form-group">
                        <label for="exampleSelect1">KБО #</label>
                        <select class="form-control" name="kboNo" id="kboNo">
		                    <option value="1" {{selected key.kboNo "1"}}>1</option>
		                    <option value="2" {{selected key.kboNo "2"}}>2</option>
		                    <option value="3" {{selected key.kboNo "3"}}>3</option>
                        </select>
                        <label for="exampleSelect1"> Пән #</label>
                        <select class="form-control" name="subjectId" id="subjectId">
                            {{#each subjects}}
                            	<option value="{{subjectId}}" {{selected key.subjectId subjectId }}>{{name}}</option>
                            {{/each}}
                        </select>
                        <label for="exampleSelect1">Вариант:</label>
                        <input class="form-control" name="variant" id="variant" size="4" value="{{key.variant}}"/>
                        <label for="exampleSelect1">Жауап кілті:</label>
                        <input class="form-control" name="keys" id="keys" size="50" value="{{key.keys}}"/>
                        <a class="btn btn-primary" id="save">Сақтау</a>
              </div>
                  </div>
              </div>
			</div>
		</div>
		
	</div>
	
</template>
