<template name="kboKeys">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h4>КБО-Жауап кілттері</h4>

				<div class="form-group">
                  <div class="form-inline">
                      <div class="form-group">
                        {{> academicYear}}

                        <div class="form-group">
                        <label for="exampleSelect1">KБО #</label>
                        <select class="form-control" name="kboNo" id="kboNo">
							<option value="1" >1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
                        </select>
                        <label for="exampleSelect1"> Пән #</label>
                        <select class="form-control" name="subjectId" id="subjectId">
                            {{#each subjects}}
                            	<option value="{{subjectId}}" >{{name}}</option>
                            {{/each}}
                        </select>
                        <label for="exampleSelect1">Вариант:</label>
                        <input class="form-control" name="variant" id="variant" length=50/>
                        <label for="exampleSelect1">Жауап кілті:</label>
                        <input class="form-control" name="keys" id="keys" length=50/>
                        <a class="btn btn-primary" id="save">Қосу</a>
                    	</div>
              		</div>
                  </div>
              	</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th></th>
						<th>Вариант</th>
						<th>Пән</th>
						<th>КБО #</th>
					</tr>
				</thead>
				<tbody>
					{{#each keys}}
					<tr>
						<td>{{math @index "+" 1}}</td>
						<td>{{academicYear}}</td>
						<td>{{variant}}</td>
						<td>{{subjectName subjectId}}</td>
						<td>{{kboNo}}</td>
						<td><a href="/admin/kbo/keys/edit/{{_id}}" class="btn btn-primary" style="float:right">Өзгерту</a></td>
						<td><a class="btn btn-danger" href="#" id="delete">Өшіру</a></td>

					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		
	</div>
	
</template>