<template name="signin">
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tests| Login Page</title>
</head>

<body>
  <div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading" style="text-align: center;">Қош келдіңіз!!!</h2>
      <label for="inputEmail" class="sr-only">Логин</label>
      <input type="email" name="email" class="form-control" placeholder="Логин" required autofocus>
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" name="password" class="form-control" placeholder="Пароль" required>
      <button class="btn btn-lg btn-primary btn-block" id="submit">Жүйеге кіру</button>
    </form>
  </div> <!-- /container -->
</body>
</template>
