<template name="tatTop10Results">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">ТАТ-{{tatNo}} ТОП-10 </h4>
            <div class="form-inline" style="padding-bottom: 10pt">
                    <div class="form-group" style="margin-right: 10pt">
                    {{> academicYear}}

                    <label for="" style="margin-left: 10pt; ">Пән</label>
                    <select class="form-control"  id="subjectId">
                        <option value="01">Алгебра</option>
                        <option value="02">Физика</option>
                        <option value="03">Химия</option>
                        <option value="04">Биология</option>
                        <option value="05">Ағылшын тілі</option>
                        <option value="06">География</option>
                        <option value="08">Информатика</option>
                        <option value="09">Қазақ тілі</option>
                        <option value="10">Түрік тілі</option>
                        <option value="11">Орыс тілі</option>
                        <option value="12">Қазақстан тарихы</option>
                        <option value="23">Дене шынықтыру</option>
                        <option value="28">Бастауыш</option>
                    </select>
                  </div>

                  <!-- <div class="form-inline">
                    <h5>Мұғалім саны: {{getTotalCount}}</h5>
                    <h5>Орта балл: {{round 2 getAve}}</h5>
                  </div> -->

                  <div class="form-group" style="float: right">
                      <a class="btn btn-success" id="export">Export</a>
                  </div>

            </div>
            {{#if Template.subscriptionsReady}}
            <div class="table table-responsive" id="out">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Мектеп ID</th>
                        <th>Мектеп аты</th>
                        <th>Мұғалім ID</th>
                        <th>Аты</th>
                        <th>Жөні</th>
                        <th>Лауазымы</th>
                        <th class='center'>Нәтиже</th>
                        <th class='center'>Пән бойынша орташа ұпай</th>
                        <th>Пән бойынша орны</th>
                        <th class='center'>%</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    {{#if math @index "<" 10}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{schoolId}}</td>
                        <td>{{schoolName schoolId}}</td>
                        <td>{{teacherId}}</td>
                        <td>{{teacherName}}</td>
                        <td>{{teacherSurname}}</td>
                        <td>{{position}}</td>
                        <td class='center'>{{result}}</td>
                        <td class='center'>{{round 2 subjectAverage}}</td>
                        <td class='center'>{{place}}</td>
                        <!-- <td style='text-align: center'>{{place @index "+" 1}}</td> -->
                        <td class='center'>{{percent}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>

</template>
