<template name="newStudent">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{#if Template.subscriptionsReady}}
              <h4>Жүктеу</h4>

              <div class="form-group">
                  <div class="form-inline">
                      <div class="form-group" >
                          <a style="margin-right: 15pt" class="btn btn-primary" id="download">Үлгі</a>
                          <input type="file" class="form-control" id="uploadS" style="margin-right: 15pt">
                          <a class="btn btn-success" id="uploadSave" >Сақтау</a>
                      </div >
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover" >
                          <thead>
                              <tr>
                                  <th>Сыныбы</th>
                                  <th>Тегі</th>
                                  <th>Аты</th>
                                  <th>Тобы</th>
                                  <th>Олимпиада пәні</th>
                                  <th>Жоба пәні</th>
                              </tr>
                          </thead>
                          <tbody>
                              {{#each results}}
                              <tr>
                                  <td>{{grade}}{{division}}</td>
                                  <td>{{surname}}</td>
                                  <td>{{name}}</td>
                                  <td style="text-align: center;">{{languageGroup}}</td>
                                  <td style="text-align: center;">{{olympiad}}</td>
                                  <td style="text-align: center;">{{joba}}</td>
                              </tr>
                              {{/each}}
                          </tbody>
                      </table>
                      </div>
                  </div>
                  <div id="out"></div>
              </div>

                <div class="row">
                  <div class="col-md-6">
                <button data-toggle="collapse" data-target="#demo"  class="btn">
                  <i class="fa fa-caret-square-o-down"></i> Бір оқушы ғана енгізу
                </button>
                </div>
                </div>

              <div id="demo" class="collapse">
                <div class="form-group">
                  <label for="name">Аты</label>
                  <input type="text" class="form-control" placeholder="Аты" name="name">
                </div>
                <div class="form-group">
                  <label for="surname">Жөні</label>
                  <input type="text" class="form-control" placeholder="Жөні" name="surname">
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="surname">Сыныбы:</label>
                            <input type="number" class="form-control" placeholder="Сынып" name="grade">
                            <label for="surname">Бөлімі:</label>
                            <input type="text" class="form-control" placeholder="Бөлім" name="division">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname"> Тобы:</label>
                    <select class="form-control" name="languageGroup">
                      <option value="kaz">Қазақ тобы</option>
                      <option value="rus">Орыс тобы</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Олимпиада пәні</label>
                  <select class="form-control" name="olympiadSubject">
                    <option value="free">---</option>
                    {{#each subjects}}
                        <option value="{{subjectId}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Жоба пәні</label>
                  <select class="form-control" name="jobaSubject">
                    <option value="free">---</option>
                    {{#each subjects}}
                        <option value="{{subjectId}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>

                <button class="btn btn-success" id="save">Сақтау</button>

              </div>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
