<template name="newStudent">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#if Template.subscriptionsReady}}
              <h4>Жаңа оқушы</h4>
              <div class="form-group">
                <label for="name">Аты</label>
                <input type="text" class="form-control" placeholder="Аты" name="name">
              </div>
              <div class="form-group">
                <label for="surname">Жөні</label>
                <input type="text" class="form-control" placeholder="Жөні" name="surname">
              </div>
              <div class="form-group">
                  <div class="form-inline">
                      <div class="form-group">
                          <label for="surname">Сыныбы:</label>
                          <input type="text" class="form-control" placeholder="Сынып" name="grade">
                          <label for="surname">Бөлімі:</label>
                          <input type="text" class="form-control" placeholder="Бөлім" name="division">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="surname"> Тобы:</label>
                  <select class="form-control" name="languageGroup">
                    <option value="kaz">Қазақ тобы</option>
                    <option value="rus">Орыс тобы</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Олимпиада пәні</label>
                <select class="form-control" name="olympiadSubject">
                  <option value="free">---</option>
                  {{#each subjects}}
                      <option value="{{subjectId}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Жоба пәні</label>
                <select class="form-control" name="jobaSubject">
                  <option value="free">---</option>
                  {{#each subjects}}
                      <option value="{{subjectId}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>

              <button class="btn btn-primary" id="save">Сақтау</button>
            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
